
@model desconectate.Models.Solicitud;

@{
    ViewData["Title"] = "Solicitante|Desconéctate";
    Layout = "~/Views/Shared/_LayoutSession.cshtml";

    string avatar = "";

    Empleados empleado = ViewBag.empleado;

    if (empleado.sexo == 'M')
    {
        if (empleado.meses_ultimo_desconecte <= 2)
            avatar = "mujer_0.png";
        else if (empleado.meses_ultimo_desconecte > 2 && empleado.meses_ultimo_desconecte <= 6)
            avatar = "mujer_1.png";
        else
            avatar = "mujer_2.png";
    }
    else
    {
        if (empleado.meses_ultimo_desconecte <= 2)
            avatar = "hombre_0.png";
        else if (empleado.meses_ultimo_desconecte > 2 && empleado.meses_ultimo_desconecte <= 6)
            avatar = "hombre_1.png";
        else 
            avatar = "hombre_2.png";
    }

    string antiguedad = (@empleado.antiguedad/12)+" años y "+(@empleado.antiguedad%12)+ " meses";
}

    <style>
    body {
        background-image: url("images/doodle-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }



    
    #i_avatar{
        width: 80%;
        position: relative;
        top: 0px;
        left: 10%;
    }

    </style>

<link rel="stylesheet" href="lib/simple-calendar/dist/simple-calendar.css" />
<link rel="stylesheet" href="lib/bootstrap-select/dist/css/bootstrap-select.css" />

<div>
    <img id="i_doodle" src="images/imagen.png">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <img id="i_avatar_md" class="" src="images/@avatar" />
        </div>
        <div class="col-sm-12 col-md-5 align-self-center" style="color:#b41547;">


            <h3 class="font-weight-bold">@empleado.Nombre</h3>
            <h4>IDSAP: @empleado.IdSAP</h4>

        </div>
        <div class="col-sm-12 col-md-5 text-center align-self-center">
            <h4>DESCARGA TU PÓLIZA DE GMM</h4>
            <button id="b_descargar" class="btn btn-desconectate">DESCARGAR</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold">ANTIGÜEDAD: @antiguedad</div>
                <div class="col-sm-12 col-md-6 font-weight-bold">FECHA ANIVERSARIO: @empleado.fecha_ingreso.ToString().Substring(0, 10)</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS POR DISFRUTAR: @empleado.dias_disponibles</div>
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS CADUCAN: @empleado.caducidad.ToString().Substring(0, 10)</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS TOMADOS: </div>
                <div class="col-sm-12 col-md-6 font-weight-bold">PERIODO: </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold"></div>
                <div class="col-sm-12 col-md-6 font-weight-bold">ÚLTIMO DESCONECTE: @empleado.ultimo_desconecte.ToString().Substring(0, 10)</div>
            </div>


        </div>
    </div>
    <form id="frmSolicitud">
        <div class="row mt-5">

            <div class="col-sm-12 col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="dropdown col-12">
                            <label for="FormControlSelect" class="font-weight-bold">SELECCIONA TU DESCONECTE:</label>
                            <select id="s_tipo_solicitud" class="selectpicker" name="tipo_solicitud">
                                @foreach (var opt in ViewBag.Opciones)
                                {
                                    <option value="@opt.id_tipo_solicitud" aux="@opt.maximo_dias" aux="@opt.consume_vacaciones">@opt.solicitud</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <label for="FormControlSelect" class="font-weight-bold">SELECCIONA INICIO Y FIN DE TU DESCONECTE:</label>
                <div id="d_calendar"></div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="row mt-5">
                    <div class="col-6 font-weight-bold">FECHA INICIO:<input name="fecha_inicio" id="p_fecha_inicio" /></div>
                    <div class="col-6 font-weight-bold">FECHA FIN:<input name="fecha_fin" id="p_fecha_fin" /></div>
                </div>
                <div class="row mt-2">
                    <div class="col-6 text-center">
                        <input style="display:none" name="id_sap" value="@empleado.IdSAP" />
                        <input type="submit" class="btn btn-desconectate" value="SOLICITAR" />
                    </div>
                </div>
            </div>

        </div>
    </form>


    <div class="row">
        <div class="col-sm-12 col-md-10">
            <table id="t_solicitudes" class="table table-responsive table-striped">
                <thead style="background-color: #821c61; color: white;">
                <th>FOLIO</th>
                <th>SOLICITUD</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
                <th>APROBADOR</th>
                <th>ESTATUS</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="lib/simple-calendar/dist/jquery.simple-calendar.js"></script>
<script src="lib/bootstrap-select/dist/js/bootstrap-select.js"></script>

<script>
    $(function() {
        var vacaciones = new Array();
        var disfrutar = 11;
        var bandera = 0;
        var maximo_dias = 30;
        var consume_vacaciones = 'S';

        $("#s_tipo_solicitud").change(function () {
            maximo_dias = $("#s_tipo_solicitud option:selected").attr("aux");
            consume_vacaciones = $("#s_tipo_solicitud option:selected").attr("aux2");
        });

        $('#frmSolicitud').submit(function (e) {
            e.preventDefault();

            url = "@Url.Content("~/Solicitante/CreaSolicitud")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {
                if (data == "1") {
                    actualizaLista();
                    limpiaForma();
                    swal("Felicidades", "Tu solicitud se registro Correctamente", "success");
                } else {
                    swal("Ocurrio un Error", data, "error");
                }
            });
        });

        

        $("#d_calendar").simpleCalendar({
            //Defaults options below
            //string of months starting from january

            months: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
            days: ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'],
            onDateSelect: function (date, events) {
                //Se agrega la fecha al array de vacaciones
                //Falta agregar una validacion para remover y no repetir fechas.
                var fecha = date.valueOf();
                if (vacaciones.indexOf(fecha) == -1) {
                    vacaciones.push(fecha);
                }
                else {
                    vacaciones.splice(vacaciones.indexOf(fecha), 1);
                }

                if (vacaciones.length != 0) {
                    vacaciones.sort(function (a, b) { return a - b });
                    // se cuentan los dias habiles
                    var cont = 0;
                    for (var i = 0; i < vacaciones.length; i++) {
                        var aux = vacaciones[i];
                        var dia = new Date(aux);
                        var dia_sem = dia.getDay();
                        if (dia_sem > 0 && dia_sem < 6)
                            cont++;
                    }

                    if (cont > disfrutar) {
                        swal("Cuidado", "Tu seleccion sobrepasa los dias permitidos", "warning");
                        bandera = 1;
                    }
                    else {
                        bandera = 0;
                    }
                    // se cuentan los dias habiles
                    var fecha_inicio = new Date(vacaciones[0]);
                    var fecha_fin = new Date(vacaciones[vacaciones.length - 1]);
                    $("#p_fecha_inicio").val(fecha_inicio.toISOString().substr(0, 10));
                    $("#p_fecha_fin").val(fecha_fin.toISOString().substr(0, 10));
                } else {
                    $("#p_fecha_inicio").val('');
                    $("#p_fecha_fin").val('');
                }

                //console.log(vacaciones);
            }
        });
        

        function limpiaForma() {
            $("#p_fecha_inicio").val('');
            $("#p_fecha_fin").val('');
            maximo_dias = 30;
            consume_vacaciones = 'S';
            $("#s_tipo_solicitud").prop('selectedIndex', 0);
            $("#d_calendar").init();
        }

        actualizaLista();
        

        function actualizaLista() {

            url = "@Url.Content("~/Solicitante/EnlistaSolicitudes")"

            $.post(url, { "id_sap":@empleado.IdSAP}, function (data) {

                var num = data.length;
                var html = "";
                var estatus = "";
                $("#t_solicitudes tbody").html("");
                for (var i = 0; i < num; i++) {
                    var dato = data[i];

                    switch (dato.estatus) {
                        case 0:
                            estatus = "PENDIENTE";
                            break;
                        case 1:
                            estatus = "APROBADO";
                            break;
                        case 2:
                            estatus = "DENEGADO";
                            break;
                    }

                    html = "<tr><td>" + dato.folio + "</td><td>" + dato.tipo_solicitud + "</td><td>" + dato.fecha_inicio + "</td><td>" + dato.fecha_fin + "</td><td></td><td>" + estatus + "</td></tr>";
                    $("#t_solicitudes tbody").append(html);
                }
                
            });

        }
    });
</script>