
@model desconectate.Models.Solicitud;

@{
    ViewData["Title"] = "Solicitante|Desconéctate";
    if (ViewBag.tipo == "S")
        Layout = "~/Views/Shared/_LayoutSessionS.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutSessionL.cshtml";

    Empleados empleado = ViewBag.empleado;
    string rol = ViewBag.rol;


    string avatar = empleado.avatar;
    if (avatar == "")
    {
        avatar = "sin_avatar.png";
    }
    else
    {
        if (empleado.meses_ultimo_desconecte <= 2)
            avatar = avatar + ".png";
        else if (empleado.meses_ultimo_desconecte > 2 && empleado.meses_ultimo_desconecte <= 6)
            avatar = avatar + "_2.png";
        else
            avatar = avatar + "_3.png";
    }

    string antiguedad = (@empleado.antiguedad / 12) + " años y " + (@empleado.antiguedad % 12) + " meses";

    var ultimo = "";


    if (@empleado.ultimo_desconecte != Convert.ToDateTime("01/01/0001"))
    {
        var auxi = Convert.ToDateTime(empleado.ultimo_desconecte);
        ultimo = (auxi.Day<10?"0":"") + auxi.Day + "/" + (auxi.Month<10?"0":"") + auxi.Month + "/" + auxi.Year;
    }

    var aux = Convert.ToDateTime(empleado.caducidad);
    var caduca = (aux.Day<10?"0":"")+ aux.Day + "/" + (aux.Month<10?"0":"")+aux.Month+ "/" + aux.Year;
    var aux2 = Convert.ToDateTime(empleado.fecha_ingreso_grupo);
    var aniversario = (aux2.Day<10?"0":"") + aux2.Day + "/" +(aux2.Month<10?"0":"")+ aux2.Month + "/" + aux2.Year;
    var aux3 = Convert.ToDateTime(empleado.fecha_ingreso_uen);
    var ingreso_uen = (aux3.Day < 10 ? "0" : "") + aux3.Day + "/" + (aux3.Month < 10 ? "0" : "") + aux3.Month;

}

    <link rel="stylesheet" href="lib/simple-calendar/dist/simple-calendar.css" />

<style>

    body {
        background-image: url("images/doodle-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }


    #i_avatar {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0%;
    }

    #nuevoPass {
        padding-right: 25px;
    }

    #ShowPass {
        margin-left: -25px;
        z-index: 100;
        padding-top: 10px;
    }

    .calendar .day.disabled{
        cursor: not-allowed;
    }

    th{
        text-align:center;
    }
</style>


<link rel="stylesheet" href="lib/bootstrap-select/dist/css/bootstrap-select.css" />
<link rel="stylesheet" href="lib/fontawesome/css/all.min.css" />


<div>
    <img id="i_doodle" src="images/imagen.png">
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <a asp-area="" asp-controller="Avatares" asp-action="Index">
                <img id="i_avatar" class="" src="images/@avatar" />
                <input type="hidden" id="statusEmpleado" value="@empleado.estatus">
            </a>
        </div>
        <div class="col-sm-12 col-md-5 align-self-center" style="color:#b41547; ">


            <h3 class="font-weight-bold">@empleado.nombre</h3>
            <h4>IDSAP: @empleado.idsap</h4>

        </div>
        <div class="col-sm-12 col-md-5 text-center align-self-center">
            <h4>DESCARGA TU PÓLIZA DE GMM</h4>

            <button id="" class="btn btn-desconectate">PRÓXIMAMENTE</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold" title="Ingreso al Grupo: @aniversario">ANTIGÜEDAD: @antiguedad</div>
                <div class="col-sm-12 col-md-6 font-weight-bold">ANIVERSARIOS: @ingreso_uen</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS POR DISFRUTAR: @empleado.dias_disponibles</div>
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS CADUCAN: @caduca</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold">DÍAS TOMADOS: @ViewBag.dias_tomados</div>
                <div class="col-sm-12 col-md-6 font-weight-bold">PERIODO: @ViewBag.periodo</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 font-weight-bold"></div>
                <div class="col-sm-12 col-md-6 font-weight-bold">ÚLTIMO DESCONECTE: @ultimo</div>
            </div>


        </div>
    </div>
    <form id="frmSolicitud">
        <div class="row mt-5">

            <div class="col-sm-12 col-md-4">
                <div class="container">
                    <div class="row">
                        <div class="dropdown col-12">
                            <label for="FormControlSelect" class="font-weight-bold">SELECCIONA TU DESCONECTE:</label>
                            <select id="s_tipo_solicitud" class="selectpicker" name="tipo_solicitud">
                                @foreach (var opt in ViewBag.Opciones)
                                {
                                    <option value="@opt.id_tipo_solicitud" aux="@opt.maximo_dias" aux2="@opt.consume_vacaciones" aux3="@opt.texto">@opt.solicitud</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div id="d_descripcion_select" class="font-weight-bold mt-2 mr-1 mp-2"></div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4" id="div_calendario">
                <label for="FormControlSelect" class="font-weight-bold">SELECCIONA INICIO Y FIN DE TU DESCONECTE:</label>
                <div id="d_calendar"></div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="row mt-5">
                    <div class="col-6 font-weight-bold">FECHA INICIO:<input name="fecha_inicio" id="i_fecha_inicio" alt="" disabled/></div>
                    <div class="col-6 font-weight-bold">FECHA FIN:<input name="fecha_fin" id="i_fecha_fin" alt="" disabled/></div>
                </div>
                <div id="d_limpia_fechas" class="row mt-2">
                    <div class="col-12 text-center align-self-center"><button id="b_limpia_fechas" class="btn btn-secondary btn-sm">Limpiar Fechas</button></div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-center align-self-center">
                        <input style="display:none" name="idsap" value="@empleado.idsap" />
                        <input style="display:none" name="idsap_aprobador" value="@empleado.idsap_padre" />
                        <input style="display:none" id="nombre_aprobador" value="@empleado.nombre_line" />
                        <input style="display:none" id="email_aprobador" value="@empleado.email_line" />
                        <input style="cursor: pointer;" data-toggle="modal" data-target="#solicitudModal" class="btn btn-desconectate" value="SOLICITAR" />
                    </div>
                </div>
            </div>

        </div>

        <div class="modal" id="solicitudModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Solicitud Vacaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Utiliza este espacio, para realizar alguna observacion o comentario sobre tus dias que solicitas:</p>
                        <textarea class="form-control" rows="3" id="ta_observacion" name="observacion"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="b_solicitud" type="button" class="btn btn-primary">Guardar Solicitud</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="row mt-5 mb-5">
        <div class="col-sm-12 col-md-12">
            <table id="t_solicitudes" class="table table-responsive table-striped">
                <thead style="background-color: #821c61; color: white;">
                <th>FOLIO</th>
                <th>SOLICITUD</th>
                <th>FECHA INICIO</th>
                <th>FECHA FIN</th>
                <th>APROBADOR</th>
                <th>ESTATUS</th>
                <th>ACCIÓN</th>
                </th>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal" id="passModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">¡Bienvenido a Desconectate!</h3>
            </div>
            <div class="modal-body">
                <p>Como medida de seguridad, es necesario que cambies tu contraseña.</p>
                <p>Ingresa tu nueva Contraseña:</p>
                <div class="col-12 text-center align-self-center input-group">
                    <input type="password" class="form-control" id="nuevoPass" name="nuevoPass" value="" placeholder="Nueva Contraseña" />
                    <div class="input-group-append">
                        <i class="far fa-eye" id="ShowPass" name="ShowPass"></i>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SavePass" type="button" class="btn btn-primary">Guardar Contraseña</button>
            </div>
        </div>
    </div>
</div>

<script src="lib/simple-calendar/dist/jquery.simple-calendar2.js"></script>
<script src="lib/bootstrap-select/dist/js/bootstrap-select.js"></script>
<script src="lib/moment/dist/js/moment.js"></script>

<script>

    $(function() {
        var vacaciones = new Array();
        var disfrutar = @empleado.dias_disponibles;
        var bandera = 0;
        var maximo_dias = @empleado.dias_disponibles;
        var consume_vacaciones = 'S';
        var rol = [@empleado.rol];
        var dias_habiles = 0;
        var dias_detalle = "";
        var dias_pasados = false;


        //-------Se obtienen los dias feriados

        var feriados = [@Html.Raw(ViewBag.Feriados)];

        feriados.shift();
        for (var i = 0; i < feriados.length; i++) {

            feriados[i] = moment(feriados[i]);
        }
        //-------Finaliza Feriados

        //-- Proceso y Funciones de Cambio de contraseña

        var estatus = document.getElementById("statusEmpleado").value;

        if (estatus == 0) {

            $("#passModal").modal({
                show: true,
                keyboard: false,
                backdrop: 'static'
            });

        }

        $("#ShowPass").click(function () {
            var tipo = document.getElementById("nuevoPass");
            var icon = $("#ShowPass");

            if (tipo.type == "password") {
                icon.removeClass("fa-eye");
                icon.addClass("fa-eye-slash");
                tipo.type = "text";
            } else {
                icon.removeClass("fa-eye-slash");
                icon.addClass("fa-eye");
                tipo.type = "password";
            }
        });

        $("#SavePass").click(function () {

            var passnew = $("#nuevoPass").val();

            if(passnew != '') {
                SavePass();
            } else {

                swal({
                    title: 'Error!',
                    text: "El campo nueva contraseña esta vacío ",
                    icon: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Ok'
                });
            }
        });



        function SavePass() {


            var NewPass = $("#nuevoPass").val();

            url = "@Url.Content("~/Solicitante/UpdatePassword")";

            parametros = {
                "id_sap":@empleado.idsap,
                "NewPass": NewPass,
            };

            $.post(url, parametros, function (data) {

                if (data == "1") {
                    $("#passModal").modal("hide");
                    swal("Correcto!", "Tu contraseña se actualizo correctamente ", "success");

                } else {
                    swal("Error!", "No se actualizó tu información", "error");
                }
            });
        }

        //---- Finaliza Contraseña

        $("#d_limpia_fechas").hide();

        var texto = $("#s_tipo_solicitud option:selected").attr('aux3')
        $("#d_descripcion_select").html(texto);

        $("#s_tipo_solicitud").change(function () {

            consume_vacaciones = $("#s_tipo_solicitud option:selected").attr("aux2");
            if (consume_vacaciones == 'S') {
                maximo_dias = disfrutar;
            }
            else {
                maximo_dias = $("#s_tipo_solicitud option:selected").attr("aux");
            }
            var texto = $("#s_tipo_solicitud option:selected").attr('aux3');

            $("#d_descripcion_select").html(texto);

            if ($("#s_tipo_solicitud option:selected").val() == 5) {
                dias_pasados = true;
            }
            else {
                dias_pasados = false;
            }

            limpiaFechas();
            actualizaCalendario();
        });


        $("#b_solicitud").bind('click', function () {
            if (bandera == 0) {

                if ($("#i_fecha_inicio").val() == "" || $("#ta_observacion").val() == "") {
                    swal("Ocurrio un Error", "Debes seleccionar una fecha e ingresar una observacion", "warning");
                }
                else {
                    url = "@Url.Content("~/Solicitante/CreaSolicitud")";
                    parametros = {
                        "idsap":@empleado.idsap,
                        "idsap_aprobador":@empleado.idsap_padre,
                        "nombre_aprobador": $("#nombre_aprobador").val(),
                        "email_aprobador": $("#email_aprobador").val(),
                        "fecha_inicio": $("#i_fecha_inicio").attr('alt'),
                        "fecha_fin": $("#i_fecha_fin").attr('alt'),
                        "tipo_solicitud": $("#s_tipo_solicitud").val(),
                        "observacion_solicitante": $("#ta_observacion").val(),
                        "dias": dias_habiles,
                        "dias_detalle": dias_detalle
                    };

                    $.post(url, parametros, function (data) {
                        if (!isNaN(data)) {
                            $('#solicitudModal').modal('hide');
                            actualizaLista();
                            limpiaFechas();
                            limpiaForma();
                            swal("Felicidades", "Tu solicitud se registro Correctamente", "success");
                            EnviaCorreo(data);

                        } else {
                            swal("Ocurrio un Error", data, "error");
                        }
                    });
                }
            }
            else {
                swal("Ocurrio un Error", "Tu seleccion sobrepasa tus dias disponibles", "error");
            }
        });


        $("#b_descargar").click(function () {
            url = "@Url.Content("~/Solicitante/DescargaPoliza")";

            window.open(url)
        });


        function EnviaCorreo(folio) {

            url = "@Url.Content("~/Solicitante/EnviaCorreo")";

            $.post(url, { "folio":folio }, function (data) {
                if (data != 1) {
                    swal("Ocurrio un Error", data, "error");
                }
            });

        }

        function actualizaCalendario() {
            $("#d_calendar").simpleCalendar().data('plugin_simpleCalendar').refresh(dias_pasados);
        };

            $("#d_calendar").simpleCalendar({
                //Defaults options below
                //string of months starting from january

                months: ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'],
                days: ['domingo', 'lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'sabado'],
                pastDates: dias_pasados,
                onDateSelect: function (date, events) {
                    //Se agrega la fecha al array de vacaciones
                    //Falta agregar una validacion para remover y no repetir fechas.
                    if (events == 1) {
                        $("#d_limpia_fechas").show();

                        var fecha = date.valueOf();
                        if (vacaciones.indexOf(fecha) == -1) {
                            vacaciones.push(fecha);
                        }
                        else {
                            vacaciones.splice(vacaciones.indexOf(fecha), 1);
                        }

                        if (vacaciones.length != 0) {
                            vacaciones.sort(function (a, b) { return a - b });
                            // se cuentan los dias habiles
                            var cont_habiles = 0;
                            var cont_inhabiles = 0;
                            var cont_feriados = 0;

                            var inicio = moment(vacaciones[0]);

                            var fin = moment(vacaciones[(vacaciones.length - 1)]);
                            var fin2 = fin.add(1, 'd');

                            dias_detalle = "";

                            debugger;

                            for (var i = inicio; !i.isSame(fin2); i.add(1, 'd')) {

                                var diasemana = i.isoWeekday();
                                diasemana--;

                                if (rol[diasemana] == "1") {

                                    if (feriados.find(contieneMoment, i) != undefined)
                                        cont_feriados++;
                                    else {
                                        dias_detalle = dias_detalle + i.format("YYYY-MM-DD") + ",";
                                        cont_habiles++;
                                    }
                                }
                                else {
                                    cont_inhabiles++;
                                }
                            }

                            dias_detalle = dias_detalle.substring(0, dias_detalle.length - 1);

                            dias_habiles = cont_habiles;
                            //swal("Detalle Solicitud", "Max_dias:" + maximo_dias + "\nDias habiles:" + cont_habiles + "\n Feriados:" + cont_feriados + "\n inhabiles:" + cont_inhabiles + "\n Detalle: " + dias_detalle, "success");

                            if (cont_habiles > maximo_dias) {
                                swal("Cuidado", "Tu seleccion sobrepasa los dias permitidos", "warning");
                                bandera = 1;
                            }
                            else {
                                bandera = 0;
                            }
                            // se cuentan los dias habiles
                            var fecha_inicio = new Date(vacaciones[0]);
                            var fecha_fin = new Date(vacaciones[vacaciones.length - 1]);

                            $("#i_fecha_inicio").val(fecha_inicio.formatDDMMYYYY());
                            $("#i_fecha_inicio").attr('alt', fecha_inicio.toISOString().substr(0, 10));

                            $("#i_fecha_fin").val(fecha_fin.formatDDMMYYYY());
                            $("#i_fecha_fin").attr('alt', fecha_fin.toISOString().substr(0, 10));
                        } else {
                            $("#i_fecha_inicio").val('');
                            $("#i_fecha_inicio").attr('alt', '');
                            $("#i_fecha_fin").val('');
                            $("#i_fecha_fin").attr('alt', '');
                        }
                    }
                    else {
                        swal("Cuidado", "No es posible seleccionar fechas pasadas", "warning");
                    }
                    //console.log(vacaciones);
                }
            });


        function contieneMoment(fecha) {
            return this.isSame(fecha);
        }

        $("#b_limpia_fechas").click(function () {
            limpiaFechas();
        });

        function limpiaFechas() {
            $("#i_fecha_inicio").val('');
            $("#i_fecha_inicio").attr('alt', '');
            $("#i_fecha_fin").val('');
            $("#i_fecha_fin").attr('alt', '');
            vacaciones = new Array();
            $("#d_calendar .day").removeClass("has-event");
            $("#ta_observacion").val('');
            $("#d_limpia_fechas").hide();
        }

        function limpiaForma() {
            $("#i_fecha_inicio").val('');
            $("#i_fecha_inicio").attr('alt', '');
            $("#i_fecha_fin").val('');
            $("#i_fecha_fin").attr('alt', '');
            maximo_dias = disfrutar;
            consume_vacaciones = 'S';
            vacaciones = new Array();

            $("#s_tipo_solicitud").selectpicker('val', '0');
            var texto = $("#s_tipo_solicitud option:selected").attr('aux3')
            $("#d_descripcion_select").html(texto);

            $("#ta_observacion").val('');
            $("#d_limpia_fechas").hide();
        }

        actualizaLista();

        $("#t_solicitudes").on('click','.b_cancelar',function () {

            var folio = $(this).attr('folio');

            url = "@Url.Content("~/Solicitante/CancelaSolicitud")";

            $.post(url, { "folio": folio }, function (data) {
                if (data != 1) {
                    swal("Ocurrio un Error", data, "error");
                }
                else {
                    swal("Se Canceló", "Tu solicitud se cancelo Correctamente", "success");
                    actualizaLista();
                }
            });

        });


        function actualizaLista() {

            url = "@Url.Content("~/Solicitante/EnlistaSolicitudes")"

            $.post(url, { "id_sap":@empleado.idsap}, function (data) {

                var num = data.length;
                var html = "";
                var estatus = "";
                var accion = "";
                $("#t_solicitudes tbody").html("");
                for (var i = 0; i < num; i++) {
                    var dato = data[i];

                    switch (dato.estatus) {
                        case 0:
                            estatus = "PENDIENTE";
                            accion = "<button class='b_cancelar' folio='" + dato.folio + "'>CANCELAR</button>";
                            break;
                        case 1:
                            estatus = "APROBADO";
                            accion = "";
                            break;
                        case 2:
                            estatus = "DENEGADO";
                            accion = "";
                            break;
                        case 3:
                            estatus = "CANCELADO";
                            accion = "";
                            break;
                    }




                    html = "<tr data-toggle='tooltip' title='" + dato.observacion_solicitante + " / " + dato.observacion_aprobador + "'><td>" + dato.folio + "</td><td>" + dato.solicitudName + "</td><td>" + new Date(dato.fecha_inicio).formatDDMMYYYY() + "</td><td>" + new Date(dato.fecha_fin).formatDDMMYYYY() + "</td><td>" + dato.nombre_aprobador + "</td><td>" + estatus + "</td><td>" + accion + "</td></tr>";
                    $("#t_solicitudes tbody").append(html);
                }
                $('[data-toggle="tooltip"]').tooltip();
            });

        }
    });
</script>