@{

    ViewData["Title"] = "Aprobador|Desconéctate";
    if (ViewBag.tipo == "S")
        Layout = "~/Views/Shared/_LayoutSessionS.cshtml";
    else
        Layout = "~/Views/Shared/_LayoutSessionA.cshtml";

    Empleados empleado = ViewBag.empleado;

}

<style>

    body {
        background-image: url("images/doodle-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom right;
        color: #5c2a7e;
    }

    #i_doodle {
        width: 30%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }


    .wrap_date {
        width: 150px; /* adjust to desired wrapping */
        display: table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
</style>

<link rel="stylesheet" href="lib/bootstrap-select/dist/css/bootstrap-select.css" />

<div>
    <img id="i_doodle" src="images/imagen.png">
</div>

<div class="container">
    <div class="row">
        <div class="col-6" style="color:#b41547;">
            <h3 class="font-weight-bold">@empleado.nombre</h3>
            <h4>IDSAP: @empleado.idsap</h4>
        </div>
        <div class="col-sm-12 col-md-5 text-center align-self-center">
            <h4>VACACIONES EQUIPO DE TRABAJO</h4>
            <button id="b_equipo" data-toggle="modal" data-target="#equipoModal" class="btn btn-desconectate">DETALLE</button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <Strong><span style="font-size:x-large;">Solicitudes Hechas</span></Strong>
            <table class="table table-responsive table-striped" id="t_Slt_Pendiente">
                <thead style="background-color: #821c61; color: white;">
                    <tr>
                        <th scope="col">FOLIO</th>
                        <th>NOMBRE</th>
                        <th scope="col">SOLICITUD</th>
                        <th scope="col">FECHA INICIO</th>
                        <th scope="col">FECHA FINAL</th>
                        <th scope="col">ESTATUS</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <form id="frmAprobadorSolicitud">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            SOLICITANTE: <b id="data_nombre"></b> <br />
                            IDSAP: <b id="data_idsap"></b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">ANTIGÜEDAD: <b id="data_antiguedad"></b></div>
                        <div class="col-6 font-weight-bold">FECHA ANIVERSARIO: <b id="data_aniversario"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">DÍAS POR DISFRUTAR: <b id="data_disfrutar"></b></div>
                        <div class="col-6 font-weight-bold">DÍAS CADUCAN: <b id="data_caducan"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">DÍAS TOMADOS: <b id="data_tomados"></b></div>
                        <div class="col-6 font-weight-bold">PERIODO: <b id="data_periodo"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">SOLICITUD: <b id="data_tipo"></b></div>

                    </div>
                    <div class="row">
                        <div class="col-6 font-weight-bold">FECHA INICIO: <b id="data_inicio"></b></div>
                        <div class="col-6 font-weight-bold">FECHA FIN: <b id="data_fin"></b></div>
                    </div>
                    <div class="row">
                        <div class="col-12 font-weight-bold">
                            OBSERVACION SOLICITANTE: <b id="observacion_solicitante"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 mt-2">
                <div class="container">
                    <div class="row">
                        <label>CAMBIAR ESTATUS:</label>
                        <select id="s_estatus" name="s_estatus" class="selectpicker">
                            <option value="0">PENDIENTE</option>
                            <option value="1">APROBADO</option>
                            <option value="2">DENEGADO</option>
                        </select>
                    </div>
                    <div id="d_con_goce" class="row">
                        <label> Permiso:  </label>
                        <div class="form-check">
                            <input id="i_con_goce_s" type="radio" class="form-check-input" name="con_goce" value="S" checked />
                            <label class="form-check-label" for="i_con_goce_s">Con goce   </label>
                        </div>
                        <div class="form-check">
                            <input id="i_con_goce_n" type="radio" class="form-check-input" name="con_goce" value="N" />
                            <label class="form-check-label" for="i_con_goce_n">Sin goce</label>
                        </div>
                    </div>
                    <div class="row rounded mt-2">
                        <textarea id="ta_comentarios" name="comentarios" class="form-control" rows="3" placeholder="Observaciones..."></textarea>
                    </div>
                    <div class="row mt-2 text-center">
                        <input type="hidden" name="id_folio" id="id_folio" value="" />
                        <input type="submit" class="btn btn-desconectate" value="GUARDAR" />
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="modal" id="equipoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Información Equipo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Detalle de tu Equipo de Trabajo</p>
                    <table class="table table-striped table-responsive" id="t_equipo">
                        <thead>
                            <tr>
                                <th>IDSAP</th>
                                <th>NOMBRE</th>
                                <th>PUESTO</th>
                                <th>INGRESO</th>
                                <th>DISPONIBLES</th>
                                <th>ULTIMO</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


    <script src="lib/bootstrap-select/dist/js/bootstrap-select.js"></script>

    <script>
        $(function () {
            var folio = '';
            actualizaLista();
            limpiarForma();

            function actualizaLista() {
                url = "@Url.Content("~/Aprobador/SolicitudesPendientes")"

                $.post(url, { "id_sap":@empleado.idsap}, function (data) {
                    var num = data.length;
                    $("#t_Slt_Pendiente tbody").html("");
                    for (var i = 0; i < num; i++) {
                        var dato = data[i];

                        switch (dato.estatus) {
                            case 0:
                                estatus = "PENDIENTE";
                                break;
                            case 1:
                                estatus = "APROBADO";
                                break;
                            case 2:
                                estatus = "DENEGADO";
                                break;
                        }
                        html = '<tr class="renglon" alt="' + dato.folio + '" id="folio"><th scope="row">' + dato.folio + '</th><td>' + dato.nombre + '</td><td>' + dato.solicitudName + '</td><td>' + dato.fecha_inicio.substring(0, 10) + '</td><td>' + dato.fecha_fin.substring(0, 10) + '</td><td>' + dato.estatusDescripcion + '</td></tr>';
                        $("#t_Slt_Pendiente tbody").append(html);
                    }
                });
            }

            $("#b_equipo").click(function () {
                url = "@Url.Content("~/Aprobador/infoEquipo")";
                
                $.post(url, {}, function (data) {
                    var num = data.length;
                    $("#t_equipo tbody").html("");
                    for (var i = 0; i < num; i++) {
                        var dato = data[i];

                        if (dato.ultimo_desconecte.substring(0, 10) == "0001-01-01")
                            var ultimo = '';
                        else 
                            var ultimo = dato.ultimo_desconecte.substring(0, 10);
                        
                        html = '<tr class="renglon"><th scope="row">' + dato.idsap + '</th><td>' + dato.nombre + '</td><td>' + dato.banda + '</td><td class="wrap_date">' + dato.fecha_ingreso_grupo.substring(0, 10) + '</td><td>' + dato.dias_disponibles + '</td><td  class="wrap_date">' + ultimo + '</td></tr>';
                        $("#t_equipo tbody").append(html);
                    }
                });
            });

            $("#t_Slt_Pendiente tbody").on("click", "tr", function () {
                limpiarForma();
                folio = $(this).attr('alt');

                url = "@Url.Content("~/Aprobador/solicitudInfo")"

                $.post(url, { "id_folio": folio }, function (data) {
                    //alert(JSON.stringify(data));
                    if (data.tipo_solicitud_goce == 1)
                        $("#d_con_goce").show();
                    else
                        $("#d_con_goce").hide();


                    $("#data_idsap").html(data.idsap);
                    $("#data_nombre").html(data.nombre);
                    $("#data_antiguedad").html(parseInt(data.antiguedad / 12) + " años y " + (data.antiguedad % 12) + " meses ");
                    $("#data_aniversario").html(data.aniversario.substring(0, 10));
                    $("#data_disfrutar").html(data.fecha_fin - data.fecha_inicio);
                    $("#data_tipo").html(data.solicitudName);
                    $("#data_caducan").html(4);
                    $("#data_tomados").html(0);
                    $("#data_periodo").html(2020);
                    $("#data_inicio").html(data.fecha_inicio.substring(0, 10));
                    $("#data_fin").html(data.fecha_fin.substring(0, 10));
                    $("#id_folio").val(data.folio);
                    $("#observacion_solicitante").html(data.observacion_solicitante);

                });


            });
            function limpiarForma() {
                $("b").html('');
                $("#id_folio").val('');
                $("#ta_comentarios").val('');
                $("#s_estatus").selectpicker('val', '0');
                $("#i_con_goce_s").prop("checked", true);
                $("#d_con_goce").hide();
            }


            $("#frmAprobadorSolicitud").submit(function (e) {
                e.preventDefault();

                url = "@Url.Content("~/Aprobador/ActualizarSolicitud")"
                parametros = $(this).serialize();

                //alert(JSON.stringify(parametros));

                if ($("#id_folio").val() == '') {
                    swal("Ocurrio un Error", "Debes seleccionar un registro de solicitud", "warning");
                }
                else {
                    if ($("#ta_comentarios").val() == '' || $("#s_estatus").val() == 0) {
                        swal("Ocurrio un Error", "Debes ingresar una observacion y cambiar el estatus de la solicitud", "warning");
                    }
                    else {

                        //alert(JSON.stringify(parametros));

                        $.post(url, parametros, function (data) {
                            if (data = "1") {
                                url2 = "@Url.Content("~/Aprobador/EnviaCorreo")"
                                $.post(url2, { "folio": $("#id_folio").val() }, function (data2) {
                                    if (data2 != 1) {
                                        swal("Ocurrio un Error en el envio de correo", data, "error");
                                    }
                                });
                                limpiarForma();
                                actualizaLista();
                                swal("Se actualizo la solicitud correctamente", "Ok", "success");
                            } else {
                                swal("Ocurrio un Error", data, "error");
                            }
                        });
                    }
                }
            });

        });
    </script>